.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--main-font-weight);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: var(--bg-image);
  background-color: #fff;
  background-size: cover;
  background-attachment:fixed;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  margin-block-start: 100px;
  margin-block-end: 100px;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-border-color);
  height: 100%;
  width: var(--main-width);
}
.header-title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-decoration: none;
  margin-block-start: 130px;
}
.header-text {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);;
  margin-block-start: 20px;
  margin-block-end: 125px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--main-width);
}
.card {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-border-color);
  width: 100%;
  box-sizing: content-box;
  margin-block-end: 52px;
}
.card_grayscale-filters {
  filter: grayscale(0.8);
}
.card_saturate-filters {
  filter: saturate(300%);
}
.card_hue-rotate-filters {
  filter: hue-rotate(30deg);
}
.card_invert-filters {
  filter: invert(0.8);
}
.card_sepia-filters {
  filter: sepia(90%);
}
.card_blur-filters {
  filter: blur(7px);
}
.card_my-filters {
  filter: grayscale(0.8) saturate(300%) hue-rotate(30deg) invert(0.8) sepia(90%)
    blur(7px);
}
.card-title {
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--fat-font-weight);
  font-size: 18px;
  padding: 3px 10px;
  width: 100%;
  border-block-end: 2px solid var(--main-border-color);
}
.card-image-label {
  position: absolute;
  top: 50px;
  z-index: 1;
  inset: 30px 29px auto auto;
  opacity: 50%;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 14px;

  text-shadow: -1px 0 var(--main-bg-color), 0 1px var(--main-bg-color),
    1px 0 var(--main-bg-color), 0 -1px var(--main-bg-color);
  mix-blend-mode: hard-light;
}
@supports (text-stroke: 0.5px var(--main-bg-color)) or
  (-webkit-text-stroke: 0.5px var(--main-bg-color)) {
  .card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-bg-color);
    text-stroke: 1px var(--main-bg-color);
  }
}
.card-image-wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.card-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
}
.text {
  margin-block-end: 27px;
}
.card-button {
  display: flex;
  justify-content: flex-end;
  margin: 0px 25px 25px;
  gap: 5px;
}
.card__like-button {
  border: 2px solid var(--main-border-color);
  width: 130px;
  height: 38px;
}
.button {
  position: relative;
  transition: box-shadow 0.3s;
  overflow: hidden;
  color: #fff;
}
button:focus {
  outline: none;
}
.button:focus-visible {
  box-shadow: 2px 2px #000;
}
.button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  display: block;
  inset: 0;
  translate: -100%;
  transition: translate 0.5s ease-in-out 0s;
}
.button:hover::before {
  translate: 0;
}
.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0;
}
.card__icon-button:focus-visible {
  border-color: #000;
}

.button__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}
.save-button {
  display: flex;
  margin-block-end: 50px;
  padding: 12px 20px;
  gap: 8px;
  border: 2px solid var(--main-border-color);
  align-items: center;
}

.button-floppy {
  mix-blend-mode: difference;
  color: #fff;
  width: 21px;
  aspect-ratio: 1;
}
.window-floppy {
  mix-blend-mode: difference;
  color: #fff;
  width: 39px;
}
.window {
  border: 2px solid var(--main-border-color);
}
.window[open] {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
.window-wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.window-button {
  border: 2px solid var(--main-border-color);
  padding: 12.5px 132.5px;
}
.text-window {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
  max-width: 234px;
}
.floppy {
  color: var(--contour-color);
}
.window-button__text{
  text-transform: uppercase;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
.sparks {
  opacity: 0;
}

@media (width <= 376px) {
  .header-title {
    font-size: 49px;
    margin-block-start:120px ;
  }
  .header-text {
    font-size: 14px;
    margin-block-end:120px ;
  }
  .card-text{
    padding: 25px 28px;
  }
  .save-button {
    flex-direction: column;
  }
  .card-title{
    padding: 4px, 10px, 6px, 10px;
  }
  .button-floppy{
    width: 28px;
  }
  .text-window{
    max-width: 198px;
  }
  .window[open] {
    display: flex;
    flex-direction: column;
    padding: 30px 42px;
    gap: 30px;
  }
  .window-button{
    padding: 12.5px 114.5px;
  }
}
